<div class="component-wrap">
  <form
    class="add-trip-form k-form k-form-md"
    [formGroup]="addTripForm"
    (ngSubmit)="onAddTripClick()"
    novalidate
  >
    <div class="k-form-field">
      <label for="driverId" class="k-label">Driver ID:</label>
      <input
        type="number"
        id="driverId"
        formControlName="driverId"
        class="k-textbox"
      />
    </div>

    <div class="k-form-field">
      <label for="driverId" class="k-label">Passengers count:</label>
      <input
        type="number"
        id="passengerCount"
        formControlName="passengerCount"
        class="k-textbox"
      />
    </div>

    <div class="k-form-field">
      <label for="start" class="k-label">Start Date:</label>
      <input
        type="datetime-local"
        id="start"
        formControlName="start"
        class="k-textbox"
      />
    </div>

    <div class="k-form-field">
      <label for="end" class="k-label">End Date:</label>
      <input
        type="datetime-local"
        id="end"
        formControlName="end"
        class="k-textbox"
      />
    </div>

    <div class="submit-wrap k-form-field">
      <button type="submit" class="k-button k-primary submit-btn">
        Add Trip
      </button>
    </div>
  </form>
</div>
