<div class="component-wrap">
  <div class="trip-table data-table">
    <div class="table-title">Trips</div>
    <kendo-grid
      [data]="tripTableItems | async"
      [pageSize]="tripTablePageSize"
      [skip]="tripTableSkip"
      [pageable]="true"
      (pageChange)="tripTablePageChange($event)"
      [sortable]="true"
      [sort]="tripTableSortDescriptor"
      (sortChange)="tripTableHandleSortChange($event)"
      [height]="300"
    >
      <kendo-grid-column field="id" title="ID"></kendo-grid-column>
      <kendo-grid-column field="driverId" title="Driver Id"></kendo-grid-column>
      <kendo-grid-column
        field="passengerCount"
        title="Passengers"
      ></kendo-grid-column>
      <kendo-grid-column field="startTime" title="Start"></kendo-grid-column>
      <kendo-grid-column field="endTime" title="End"></kendo-grid-column>
    </kendo-grid>
  </div>
</div>
