/* You can add global styles to this file, and also import other style files */

body {
  background: rgb(207 238 202);
}

.table-title {
  font-size: larger;
  margin: 10px;
}

.data-table {
  width: 90%;
}
